version: 2.1

jobs:
  coana:
    docker:
      - image: coana/coana:latest
    steps:
      - checkout
      - run:
          name: Run Coana
          command: |
            coana run . \
            --api-key $COANA_API_KEY \
            --repo-url https://github.com/ironclad/ironclad \
            --memory-limit 8192
workflows:
  coana:
    triggers:
      - schedule:
          cron: '0 18 * * *'
          filters:
            branches:
              only:
                - develop
    jobs:
      - coana:
          context:
            - coana
